@import "vars";
@import "bootstrap/scss/reboot";

html {
  font-size: 62.5%;
}


body{
  margin: 0;
  font-family: -apple-system, "Segoe UI", "Roboto Light",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";

  font-size: 1.6rem;
  color: $white;
background-color: $black;
}